body{
    background-color: rgb(155, 184, 155); 
}

.title{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(60, 90, 69);
    background-color: rgb(219, 226, 221);
}

li,
a{
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: black;
}